:root {
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.91);
  --red-scanline: rgba(204, 94, 98, 0.2);
  --black-scanline: rgba(1, 1, 1, 0.9);
  --black-hover-background: rgba(0, 0, 0, 0.25);
  --blue: #61e4fa;
  --yellow: #f7f500;
  --text-shadow: rgb(0, 208, 255);
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color: #f9f002;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #136377;
  --green-color: #446d44;
  --purple-color: purple;
}

* {
  margin: 0;
  padding: 0;
  color: var(--blue);
  font-family: 'Advent Pro', arial;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 40%;
}
.hpMain {
  background-image: url('/CP-pics/background_clean.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
}
.lsMain {
  background-image: url('/CP-pics/background_face.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
}
.rsMain {
  background-image: url('/CP-pics/background_rarities.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
}
.ugMain {
  background-image: url('/CP-pics/background_upgrades.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
}
.stMain {
  background-image: url('/CP-pics/background_yellow.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
}
.navigationbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 64px;
}
// Definition of the Font Styles
h1.cyberpunk,
h2.cyberpunk {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px;
}
h2.cyberpunk {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
}
h1.cyberpunk:before,
h2.cyberpunk:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 2px;
  width: 100%;
  height: 10px;
  background-color: #000;
  clip-path: polygon(
    0px 0px,
    85px 0px,
    90px 5px,
    100% 5px,
    100% 6px,
    85px 6px,
    80px 10px,
    0px 10px
  );
}
h1.cyberpunk.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h2.cyberpunk.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.7);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}
@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

h1.cyberpunk.glitched:before {
  animation-name: h1beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      100% 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      100% 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  11% {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      100% 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  50% {
    transform: skew(0deg);
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      100% 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  51% {
    transform: skew(0deg);
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      40% 5px,
      calc(40% - 30px) 0px,
      calc(40% + 30px) 0px,
      calc(45% - 15px) 5px,
      100% 5px,
      100% 6px,
      calc(45% - 14px) 6px,
      calc(40% + 29px) 1px,
      calc(40% - 29px) 1px,
      calc(40% + 1px) 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  59% {
    transform: skew(0deg);
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      40% 5px,
      calc(40% - 30px) 0px,
      calc(40% + 30px) 0px,
      calc(45% - 15px) 5px,
      100% 5px,
      100% 6px,
      calc(45% - 14px) 6px,
      calc(40% + 29px) 1px,
      calc(40% - 29px) 1px,
      calc(40% + 1px) 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  60% {
    transform: skew(0deg);
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      100% 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
  100% {
    transform: skew(0deg);
    clip-path: polygon(
      0px 0px,
      85px 0px,
      90px 5px,
      100% 5px,
      100% 6px,
      85px 6px,
      80px 10px,
      0px 10px
    );
  }
}

h2.cyberpunk:before {
  clip-path: polygon(
    0px 5px,
    35px 5px,
    40px 0px,
    85px 0px,
    90px 5px,
    100% 5px,
    100% 6px,
    85px 6px,
    80px 10px,
    20px 10px,
    15px 6px,
    0px 6px
  );
}

h2.cyberpunk.glitched:before {
  animation-name: h2beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h2beforeglitched {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1);
  }
  11% {
    transform: scaleY(-1);
  }
  50% {
    transform: scaleY(-1);
  }
  51% {
    transform: scaleY(1);
  }
  59% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
h1.cyberpunk:after,
h2.cyberpunk:after {
  content: '_';
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* Separator */

hr {
  height: 14px;
  background-color: #000;
  width: 100%;
  clip-path: polygon(
    1px 0px,
    0px 0px,
    0px 0px,
    8px 14px,
    13px 14px,
    22px 7px,
    42px 6px,
    49px 2px,
    100% 2px,
    100% 0px,
    42px 0px,
    35px 5px,
    22px 6px,
    13px 13px,
    9px 13px
  );
  animation-name: hr;
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}
// yellow Box at Home
.menu {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 5%;
  width: 280px;
  align-items: left;
  border: var(--yellow) 2px solid;
}

.menu h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  font-family: Cyberpunk;
  font-size: 2.5rem;
  color: var(--blue);
}

.menu ul {
  list-style-type: none;
  padding: 0px 25px;
}

.menu ul li {
  text-transform: uppercase;
  cursor: pointer;
  /* layout */
  position: relative;
  color: #ff9800;
  padding: 10px;
  margin: 15px 0px;
  overflow: hidden;
  width: 200px;
  height: 54.5px;
  clip-path: polygon(350px 0px, 350px 29px, 250px 57px, 0px 57px, 0px 0px);

  /* font */
  color: var(--yellow);
  font-size: 26px;
  text-shadow: 0px 0px 3px var(--red-glow);

  /* Border */
  border-style: solid;
  border-width: 2px;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.menu ul a {
  text-decoration: none;
  color: var(--yellow);
}

.menu ul li::after {
  /* Layout */
  content: '';
  position: absolute;
  bottom: -17px;
  right: -17px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  /* Border */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.menu ul li:hover::after,
.menu ul li:hover {
  color: var(--blue);
  background: var(--black-hover-background);

  border-color: var(--blue);

  transition: color 0.23s linear;
  transition: border-color 0.23s linear;
}
